.desk {
    width: 800px;
    height: 800px;
    background-color: #aaa
}
.cell {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navCell {float: left;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.black {
    background-color: #999;
}
.white {
    background-color: #eee;
}

.figure {
    font-size: 80px;
}
